<div class="col-md-12" [ngClass]="{'no-p' : isDynamic}">
    <div class="col-md-12 no-p box" [ngClass]="{'allpage-with-sidebar' : !isDynamic}">
        <div class="col-md-12 main_body" [ngClass]="{'white' : isDynamic}">
            <form [formGroup]="formObject" (ngSubmit)="OnSubmitForm(formObject.value , formObject.valid)" novalidate
                class="form col-md-12 no-p">
                <fieldset>
                    <div class="col-xl-12 form_paraphraph">
                        <p class="title head">اضافة ايصال و دفع جديد</p>
                    </div>
                    <div class="col-md-12 first" *ngIf="_global.getResource('branches').length > 1">
                        <div class="form-group col-md-12 col-sm-12">
                            <label class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-form-label">الفرع</label>
                            <div class="col-md-12 ">
                                <select class="form-control" name="branch_id" (change)="onSelectItem($event)" [formControl]="formObject.controls['branch_id']">
                                    <option *ngFor="let option of _global.getResource('branches')"
                                        [value]="option.id" value="{{ option.id }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" [ngClass]="{ 'first' : _global.getResource('branches').length === 1}">
                        <div class="form-group col-md-12">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeIsPaid(true)"
                                        [ngClass]="{'active' : __is_paid}">
                                    <i class="ti-file"></i>
                                    <span>دفع مبلغ</span>
                                </button>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeIsPaid(false)"
                                        [ngClass]="{'active' : !__is_paid}">
                                    <i class="ti-file"></i>
                                    <span>استلام مبلغ</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-md-12" *ngIf="__is_paid">
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_purchaseOrders' , 'PUR' )" 
                                        [ngClass]="{'active' : formObject.value.is_purchaseOrders}">
                                    <i class="ti-file"></i>
                                    <span>فاتورة شراء</span>
                                </button>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_supplier' , 'SUP' )" 
                                        [ngClass]="{'active' : formObject.value.is_supplier}">
                                    <i class="ti-truck"></i>
                                    <span>مورد</span>
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_other' , 'OTHER' )" 
                                        [ngClass]="{'active' : formObject.value.is_other}">
                                    <i class="ti-money"></i>
                                    <span>غير ذلك</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-md-12" *ngIf="!__is_paid">
                             <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_sales' , 'SALE' )" 
                                        [ngClass]="{'active' : formObject.value.is_sales}">
                                    <i class="ti-shopping-cart"></i>
                                    <span>مبيعات</span>
                                </button>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_customer' , 'CUS' )" 
                                        [ngClass]="{'active' : formObject.value.is_customer}">
                                    <i class="ti-user"></i>
                                    <span>زبون</span>
                                </button>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <button type="button" class="btn_box " (click)="changeCheckBox('is_other' , 'OTHER' )" 
                                        [ngClass]="{'active' : formObject.value.is_other}">
                                    <i class="ti-money"></i>
                                    <span>غير ذلك</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                         <div class="form-group col-md-6"  *ngIf="formObject.value.is_other === true">
                            <label class="col-md-12 col-xs-12 col-form-label" *ngIf=" __is_paid">الجهة المستلمة للمبلغ - للتوثيق</label>
                            <label class="col-md-12 col-xs-12 col-form-label" *ngIf="!__is_paid">الجهة الدافعة للمبلغ - للتوثيق</label>
                            <div class="col-md-12 col-xs-12 inline-first">
                                <input data-rules="name,min2,max100" [formControl]="formObject.controls['others']" name="others" 
                                type="text" class="form-control" placeholder="الجهة المسؤولة" [ngClass]="{'errors': validateControl('others')}">
                                <div class="errors"></div>
                            </div>
                         </div>
                        <div class="form-group col-md-6" [ngClass]="{'col-md-12' : !formObject.value.is_other}">
                            <label class="col-md-12 col-form-label">{{ __type_label }}</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,max50" [formControl]="formObject.controls['name']" name="name" 
                                type="text" class="form-control" placeholder="{{ __label_type }}" [ngClass]="{'errors': validateControl('name')}"/>
                                <autocomplete
                                    [field]="__autoObj.field"
                                    [template]="__autoObj.template"
                                    [searchFields]="__autoObj.searchFields"
                                    [control]="formObject.controls.name"
                                    [search]="formObject.controls.name.value"
                                    [url]="__autoObj.url"
                                    [class]="'name'"
                                    [isLocal]="formObject.value.is_other === true"
                                    [dataToSearchFrom]="__booksTreeArray"
                                    (onsetvalue)="autocompletevaluechanged($event)"
                                    >
                                </autocomplete>        
                            </div>
                        </div>
                        <div class=" form-group col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12 prices sky">
                                    <div class="col-md-12 col-xs-12 no-p item item-price">
                                        <div class="col-xs-4 no-p prices-title"><p>الاجمالى</p></div>
                                        <div class="col-xs-8 no-p prices-content"><p>{{ __moneyObjs.total | myCurrency }}</p></div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 no-p item item-price">
                                        <div class="col-xs-4 no-p prices-title"><p>المدفوع</p></div>
                                        <div class="col-xs-8 no-p prices-content"><p>{{ __moneyObjs.paid | myCurrency }}</p></div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 no-p item item-price">
                                        <div class="col-xs-4 no-p prices-title"><p>المتبقى</p></div>
                                        <div class="col-xs-8 no-p prices-content"><p>{{ __moneyObjs.debt | myCurrency }}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 first">
                        <div class="form-group col-md-12">
                            <label class="col-md-8 col-xs-8 col-form-label">البيان</label>
                            <label class="col-md-4 col-xs-4 col-form-label">رقم الايصال</label>
                            <div class="col-md-8 col-xs-8 inline-first">
                                <input data-rules="req,name,min2,max100" [formControl]="formObject.controls['title']" name="title" 
                                type="text" class="form-control" placeholder="البيان" [ngClass]="{'errors': validateControl('title')}">
                                <div class="errors"></div>
                            </div>
                            <div class="col-md-4 col-xs-4 inline-last">
                                <input data-rules="req,num" [formControl]="formObject.controls['number']" name="number" 
                                type="text" class="form-control" placeholder="رقم الايصال" [ngClass]="{'errors': validateControl('number')}">
                                <div class="errors"></div>
                            </div>
                        </div>
                        <!--<div class="form-group col-md-6" *ngIf="_global.getToken()['settings']['is_bookKepping']">
                            <label class="col-md-6 col-xs-6 col-form-label">#مرجع</label>
                            <label class="col-md-6 col-xs-6 col-form-label">رقم دفتر المحاسبة</label>
                            <div class="col-md-6 col-xs-6 inline-first">
                                <input data-rules="num" [formControl]="formObject.controls['reference']" name="reference" 
                                type="text" class="form-control" placeholder="#مرجع" [ngClass]="{'errors': validateControl('reference')}">
                                <div class="errors"></div>
                            </div>
                            <div class="col-md-6 col-xs-6 inline-last">
                                <input data-rules="req,num" [formControl]="formObject.controls['page']" name="page" 
                                type="text" class="form-control" placeholder="رقم دفتر المحاسبة اليومى" [ngClass]="{'errors': validateControl('page')}">
                                <div class="errors"></div>
                            </div>
                        </div>-->
                        <div class="form-group col-md-12">
                            <label class="col-md-8 col-sm-8 col-sx-8 col-form-label">تاريخ الصرف</label>
                            <label class="col-md-4 col-sm-4 col-xs-4 col-form-label">#مرجع</label>
                            <div class="col-md-8 col-sm-8 col-xs-8 inline-first">
                                <input data-rules="date" ng2-datetime-picker name="paid_date" [(ngModel)]="__paymentDate"
                                [formControl]="formObject.controls['paid_date']" [close-on-select]="false" 
                                type="text" class="form-control" placeholder="تاريخ الصرف" readonly/>
                                <div class="errors"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 inline-last">
                                <input data-rules="num" [formControl]="formObject.controls['reference']" name="reference" 
                                type="text" class="form-control" placeholder="#مرجع" [ngClass]="{'errors': validateControl('reference')}">
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--<div class="form-group col-md-6" *ngIf="formObject.value.is_other">
                            <label class="col-md-12 col-xs-12 col-form-label" *ngIf="!__is_paid">الجهة المسؤولة عن دفع المبلغ</label>
                            <label class="col-md-12 col-xs-12 col-form-label" *ngIf=" __is_paid">الجهة المستلمة للمبلغ</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input data-rules="req,alph,min2,max100" [formControl]="formObject.controls['others']" name="others" 
                                type="text" class="form-control autofocus" placeholder="الجهة ..." [ngClass]="{ 'error' : validateControl('others') }"/>
                                <autocomplete
                                    [field]="__autoObj.field"
                                    [template]="__autoObj.template"
                                    [searchFields]="__autoObj.searchFields"
                                    [control]="formObject.controls.name"
                                    [search]="formObject.controls.name.value"
                                    [url]="__autoObj.url"
                                    [class]="'name'"
                                    [isLocal]="formObject.value.is_other === true"
                                    [dataToSearchFrom]="__booksTreeArray"
                                    (onsetvalue)="autocompletevaluechanged($event)"
                                    >
                                </autocomplete> 
                                <div class="errors"></div>
                            </div>
                        </div>-->
                        <div class="form-group col-md-8">
                            <label *ngIf=" __is_paid" class="col-md-12 col-form-label">طريقة دفعك للمبلغ</label>
                            <label *ngIf="!__is_paid" class="col-md-12 col-form-label">طريقة استلام المبلغ</label>
                            <div class="col-md-12 col-sm-12 col-xs-12 inline-first">
                                <select class="form-control" [formControl]="formObject.controls.payment_by">
                                    <option value="REGISTER" *ngIf="_global.getToken()['settings']['is_registered']">{{ _global.config.payment_ways['REGISTER'] }}</option>
                                    <option value="CASH">{{ _global.config.payment_ways['CASH'] }}</option>
                                    <option value="REGISTER" *ngIf="!_global.getToken()['settings']['is_registered']">{{ _global.config.payment_ways['REGISTER'] }}</option>
                                    <option value="CREDIT">{{ _global.config.payment_ways['CREDIT'] }}</option>
                                    <option value="CHEQUE">{{ _global.config.payment_ways['CHEQUE'] }}</option>
                                    <option value="BANK">{{ _global.config.payment_ways['BANK'] }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-md-12 col-form-label">المبلغ المالى</label>
                            <div class="col-md-12 col-sm-12 col-xs-12  inline-last">
                                <input data-rules="req,price" [formControl]="formObject.controls['amount_of_paid']" name="amount_of_paid" 
                                type="text" class="form-control" placeholder="المبلغ المالى" [ngClass]="{'errors': validateControl('amount_of_paid')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12" *ngIf="formObject.value.payment_by === 'BANK'">
                            <label class="col-form-label col-md-12">اختر البنك البنك</label>
                            <div class="col-md-12">
                                <select class="form-control" [formControl]="formObject.controls.bank_id">
                                    <option *ngFor="let bank of __banksArray" 
                                            value="{{ bank.id }}">{{ bank.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12" *ngIf="formObject.value.payment_by === 'REGISTER'">
                            <label class="col-form-label col-md-12">اختر المسجل أو الكاشير</label>
                            <div class="col-md-12">
                                <select class="form-control" [formControl]="formObject.controls.register_id">
                                    <option *ngFor="let register of __registersArray" 
                                            value="{{ register.id }}">{{ register.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="col-form-label col-md-12"></label>
                            <div class="col-md-12 no-p">
                                <button type="button" class="btn btn-middle" (click)="OnPayment()">اضف عملية الدفع</button>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12 col-sm-12" *ngIf="__paymentsArray.length > 0">
                            <table class="table no-shadow">
                                <thead>
                                    <tr>
                                        <td *ngIf=" __is_paid">طرق الدفع</td>
                                        <td *ngIf="!__is_paid">طرق الاستلام</td>
                                        <td>المبلغ</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of __paymentsArray; let i = index">
                                        <td *ngIf="!payment.bank && !payment.register">{{ _global.config.payment_ways[payment.by] }}</td>
                                        <td *ngIf="payment.bank">{{ _global.config.payment_ways[payment.by] }} {{ payment.bank }}</td>
                                        <td *ngIf="payment.register">{{ _global.config.payment_ways[payment.by] }} {{ payment.register }}</td>
                                        <td>{{ payment.amount | myCurrency}}</td>
                                        <td><a class="removepay" (click)="OnRemovePayment(i)"><i class="ti-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" [hidden]="__paymentsArray.length === 0">
                        <button type="submit" class="btn btn-primary">حفظ البيانات</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>