<div class="fade modal" id="show-dynamic-model" tabondex="-1" role="dialog"
    aria-labelledby="myDynamicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>x</span></button>
            </div>
            <div class="modal-body col-md-12 white">
                <!--<div class="col-md-12 no-p" *ngIf="__modal === 'storages'">
                    <storages-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></storages-details>
                </div>-->
                <div class="col-md-12 no-p" *ngIf="__modal === 'types'">
                    <types-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></types-details>
                </div>
                <div class="col-md-12 no-p" *ngIf="__modal === 'option_one' || __modal === 'option_two' || __modal === 'option_three'">
                    <options-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></options-details>
                </div>
                <div class="col-md-12 no-p" *ngIf="__modal === 'taxes'">
                    <taxes-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></taxes-details>
                </div>

                <div class="col-md-12 no-p" *ngIf="__modal === 'collections'">
                    <collections-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></collections-details>
                </div>
                <div class="col-md-12 no-p" *ngIf="__modal === 'brands'">
                    <brands-details [isDynamic]="true" (onAction)="onAddedItemAction($event)"></brands-details>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 padding-20">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12 box">
        <div class="col-md-12 main_body">
            <!--(ngSubmit)="OnSubmitForm(formObject.value , formObject.valid)" -->
            <form [formGroup]="formObject" (ngSubmit)="null" novalidate
                class="form col-md-12 no-p">
                <fieldset>
                    <div class="col-md-12 last">
                        <div class="form-group col-md-12 first">
                            <div class="col-md-12 col-md-12">
                                <div class="col-md-2 col-sm-3">
                                    <input type="checkbox" id="productchbx" class="ios-toggle"
                                    [formControl]="formObject.controls['is_product']"/>
                                    <label for="productchbx" class="checkbox-label"></label>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <p class="h2">{{ __typo__ }}</p>
                                    <p>يمكنك الاختيار بين اضافة صنف كالملابس أو غيره ... أو اضافة خدمة تقوم بتقديمها</p>
                                    <p>لاتملك الخدمة مورد أو خيارات خلافا للصنف الذى يمكنك مراقبة كميته و اعادة التعبئة من المورد اوتوماتيكيا</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-12 form_paraphraph">
                        <p class="title head">اضافة {{ __typo__ }} جديد</p>
                        <p class="note">{{  __typoDesc__}}</p>
                    </div>
                    <!--<div class="col-md-12" *ngIf="_global.getResource('branches').length > 1">
                        <div class="form-group col-md-12 col-sm-12">
                            <label class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-form-label">الفرع</label>
                            <div class="col-md-12 ">
                                <select class="form-control" name="branch_id" (change)="onSelectItem($event)" [formControl]="formObject.controls['branch_id']">
                                    <option *ngFor="let option of _global.getResource('branches')"
                                        [value]="option.id" value="{{ option.id }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-md-12" *ngIf="formObject.controls.is_product.value">
                        <!-- <div class="form-group col-md-12 col-xs-12 col-sm-12">
                            <label class="col-md-12 col-form-label">المخزن</label>
                            <div class="col-md-12 ">
                                <select class="form-control" name="storage" (change)="onSelectItem($event)" [formControl]="formObject.controls['storage']">
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __storagesArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">اسم الصنف</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,max100" [formControl]="formObject.controls['name']" name="name"
                                type="text" class="form-control autofocus" placeholder="اسم الصنف" [ngClass]="{'errors': validateControl('name')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">الكود</label>
                            <div class="col-md-12">
                                <input data-rules="req,alphnumdashed,max16" [formControl]="formObject.controls['sku']" name="sku"
                                type="text" class="form-control" placeholder="الكود" [ngClass]="{'errors': validateControl('sku')}">
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!formObject.controls.is_product.value">
                        <div class="form-group col-md-6">
                            <label class="col-xs-9 col-md-9 col-sm-9 col-form-label">اسم الخدمة</label>
                            <label class="col-xs-3 col-md-3 col-sm-3 col-form-label">الكود</label>
                            <div class="col-xs-9 col-md-9 col-sm-9 inline-first">
                                <input data-rules="req,alph,max100" [formControl]="formObject.controls['name']" name="name"
                                type="text" class="form-control autofocus" placeholder="اسم الخدمة" [ngClass]="{'errors': validateControl('name')}"/>
                                <div class="errors"></div>
                            </div>

                            <div class="col-xs-3 col-md-3 col-sm-3 inline-last">
                                <input data-rules="req,num" [formControl]="formObject.controls['sku']" name="sku"
                                type="text" class="form-control" placeholder="الكود" [ngClass]="{'errors': validateControl('sku')}">
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">المجموعة</label>
                            <div class="col-md-12 col-xs-12">
                                <select class="form-control" name="collection" (change)="onSelectItem($event)" [formControl]="formObject.controls['collection']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __collectionsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="formObject.controls.is_product.value">
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">المجموعة</label>
                            <div class="col-md-12 col-xs-12">
                                <select class="form-control" name="collection" (change)="onSelectItem($event)" [formControl]="formObject.controls['collection']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __collectionsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">الماركة</label>
                            <div class="col-md-12 col-xs-12">
                                <select class="form-control" name="brand" (change)="onSelectItem($event)" [formControl]="formObject.controls['brand']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __brandsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 last">
                        <div class="form-group col-md-6 last">
                            <label class="col-md-12 col-form-label">وحدة ال{{ __typo__ }}</label>
                            <div class="col-md-12 col-xs-12">
                                <select class="form-control" name="type" (change)="onSelectItem($event)" [formControl]="formObject.controls['type_id']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __typesArray"
                                        [value]="option.id" value="{{ option.id }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">الكلمات المفتاحية</label>
                            <div class="col-md-12 ">
                                <keys-cmp placeholder="الكلمات المفتاحية"
                                          dataRules="keywords"
                                          [max]="10"
                                          classes="form-control"
                                          name="tags"
                                          [value]="formObject.controls['tags']"
                                          (onChangeKey)="onchangeKeys($event)">
                                </keys-cmp>
                                <div class="errors"></div>
                            </div>
                        </div>

                    </div>
                </fieldset>

                <fieldset *ngIf="!formObject.controls.is_product.value">
                    <div class="col-md-12 form_paraphraph">
                        <p class="title head">سعر الخدمات و التكلفة</p>
                        <p class="note">يجب كتابة سعر الخدمة و فى حال وجود تكلفة ثابتة للخدمة .. لكى لاتضطر لاضافة النفقات مع المصاريف</p>
                    </div>
                    <div class="col-md-12 first">
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">سعر الخدمة</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,price" [formControl]="formObject.controls['price']" name="price"
                                type="text" class="form-control" placeholder="سعر الخدمة" [ngClass]="{'errors': validateControl('price')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">تكلفة الخدمة</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,price" [formControl]="formObject.controls['cost']" name="cost"
                                type="text" class="form-control" placeholder="تكلفة الخدمة" [ngClass]="{'errors': validateControl('cost')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset *ngIf="formObject.controls.is_product.value">
                    <!--<div class="col-md-12 form_paraphraph">
                        <p class="title">معلومات الاسعار و الموردين</p>
                        <p class="note">المعلومات اللتى تحتوى على سعر الصنف و المورد</p>
                    </div>-->

                    <div class="col-md-12 first last">
                        <!--<div class="form-group col-md-6">
                            <label class="col-md-12 col-form-label">المورد</label>
                            <div class="col-md-12 ">
                                <input data-rules="alph,min2,max25" [formControl]="formObject.controls['supplier']" name="supplier"
                                type="text" class="form-control" placeholder="المورد" [ngClass]="{'errors': validateControl('supplier')}"/>
                                <autocomplete
                                        [field]="['name' , 'code']"
                                        [template]="'#name'"
                                        [searchFields]="['name','code']"
                                        [control]="formObject.controls.supplier"
                                        [search]="formObject.controls.supplier.value"
                                        [url]="'suppliers/?logic=||'"
                                        [class]="'supplier'"
                                        (onsetvalue)="autocompletevaluechanged($event)"
                                        >
                                </autocomplete>
                                <div class="errors"></div>
                            </div>
                        </div>-->
                        <div class="col-md-6 col-sm-6 col-xs-6" *ngIf="__settings.is_tax">
                            <div class="form-group col-md-12">
                                <label class="col-md-12 col-form-label">الضريبة</label>
                                <div class="col-md-12 col-xs-12 no-p">
                                    <select class="form-control" name="tax" (change)="onSelectItem($event)" [formControl]="formObject.controls['tax_id']">
                                        <option value=""></option>
                                        <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                        <option *ngFor="let option of __taxesArray"
                                            [value]="option.id" value="{{ option.id }}" >{{ option.name }}</option>
                                    </select>
                                    <div class="errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="" *ngIf="!_editable" [ngClass]="{'col-xs-12-col-sm-12 col-md-12' : !__settings.is_tax , 'col-xs-6-col-sm-6 col-md-6' : __settings.is_tax }">
                            <div class="form-group col-md-4 col-sm-4">
                                <label class="col-md-12 col-form-label">التكلفة</label>
                                <div class="col-md-12 ">
                                    <input data-rules="price" [formControl]="formObject.controls['cost']" name="cost"
                                    type="text" class="form-control" placeholder="التكلفة" [ngClass]="{'errors': validateControl('cost')}"/>
                                        <div class="errors"></div>
                                </div>
                            </div>
                            <div class="form-group  col-md-4 col-sm-4">
                                <label class="col-md-12 col-form-label">سعر البيع</label>
                                <div class="col-md-12">
                                    <input data-rules="price" [formControl]="formObject.controls['price']" name="price"
                                        type="text" class="form-control" placeholder="سعر البيع" [ngClass]="{'errors': validateControl('price')}">
                                    <div class="errors"></div>
                                </div>
                            </div>
                            <div class="form-group  col-md-4 col-sm-4">
                                <label class="col-md-12 col-form-label">الكمية المتوفرة</label>
                                <div class="col-md-12">
                                    <input data-rules="price" [formControl]="formObject.controls['stock']" name="stock"
                                        type="text" class="form-control" placeholder="الكمية الافتتاحية" [ngClass]="{'errors': validateControl('stock')}">
                                    <div class="errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="_editable">
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">التكلفة</label>
                                <div class="col-md-12 ">
                                    <input data-rules="price" [formControl]="formObject.controls['cost']" name="cost"
                                    type="text" class="form-control" placeholder="التكلفة" [ngClass]="{'errors': validateControl('cost')}"/>
                                        <div class="errors"></div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">سعر البيع</label>
                                <div class="col-md-12">
                                    <input data-rules="price" [formControl]="formObject.controls['price']" name="price"
                                        type="text" class="form-control" placeholder="سعر البيع" [ngClass]="{'errors': validateControl('price')}">
                                    <div class="errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 last" *ngIf="formObject.controls.is_product.value">
                        <div class="col-md-12 col-md-12">
                            <br/>
                            <br/>
                            <div class="col-md-2 col-sm-3">
                                <input type="checkbox" id="multibx" class="ios-toggle"
                                [formControl]="formObject.controls['is_multi_price']"/>
                                <label for="multibx" class="checkbox-label"></label>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <p class="h2">تفعيل تعدد اسعار الصنف</p>
                                <p>تفعيل تعدد الاسعار يمكنك من بيع الاصناف باسعار مختلفة وفقا لنوع الطلب</p>
                                <p>يمكنك اضافة سعر نصف الجملة و الجملة وجملة الجملة وسعر اضافى فى حال وجد</p>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="formObject.controls.is_multi_price.value">
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">نصف الجملة</label>
                                <div class="col-md-12 ">
                                    <input data-rules="price" [formControl]="formObject.controls['price2']" name="price2"
                                    type="text" class="form-control" placeholder="نصف الجملة" [ngClass]="{'errors': validateControl('price2')}"/>
                                        <div class="errors"></div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">سعر الجملة</label>
                                <div class="col-md-12">
                                    <input data-rules="price" [formControl]="formObject.controls['price3']" name="price3"
                                        type="text" class="form-control" placeholder="سعر الجملة" [ngClass]="{'errors': validateControl('price3')}">
                                    <div class="errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="formObject.controls.is_multi_price.value">
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">جملة الجملة</label>
                                <div class="col-md-12 ">
                                    <input data-rules="price" [formControl]="formObject.controls['price4']" name="price4"
                                    type="text" class="form-control" placeholder="جملة الجملة" [ngClass]="{'errors': validateControl('price4')}"/>
                                        <div class="errors"></div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6 col-sm-6">
                                <label class="col-md-12 col-form-label">سعر اضافى</label>
                                <div class="col-md-12">
                                    <input data-rules="price" [formControl]="formObject.controls['price5']" name="price5"
                                        type="text" class="form-control" placeholder="سعر اضافى" [ngClass]="{'errors': validateControl('price5')}">
                                    <div class="errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset *ngIf="formObject.controls.is_product.value">
                    <div class="col-md-12 col-md-12 form_paraphraph">
                        <div class="form-group col-md-12">
                            <div class="col-md-12 col-md-12">
                                <br/>
                                <br/>
                                <div class="col-md-2 col-sm-3">
                                    <input type="checkbox" id="trackchbx" class="ios-toggle"
                                    [formControl]="formObject.controls['is_trackable']"/>
                                    <label for="trackchbx" class="checkbox-label"></label>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <p class="h2">تفعيل متابعة حركة الصنف {{ formObject.controls.name.value }}</p>
                                    <p>تفعيل متابعة الحركة يضمن لك متابعة الكميات المتبقية و المتوفرة للصنف</p>
                                    <p>لايمكنك بيع كميات من الصنف فى عدم توفرها  أو فى حال انتهاء الكمية</p>
                                    <p>يمكنك تفعيل تتبع الحركة من الاضافة التلقائية لكمية معينة من المورد فى حال وصول الكمية الى عدد معين انت تحدد و جلب الكمية المحددة ايضا</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 first last" *ngIf="formObject.controls.is_trackable.value">
                       <div class="form-group col-md-3 col-sm-3  col-xs-6">
                           <label class="col-md-12 col-form-label">اعادة التعبئة عند</label>
                            <div class="col-md-12">
                                <input data-rules="float" [formControl]="formObject.controls['stock_order_point']" name="stock_order_point"
                                type="text" class="form-control" placeholder="اعادة التعبئة عند" [ngClass]="{'errors': validateControl('stock_order_point')}">
                                <div class="errors"></div>
                            </div>
                       </div>
                       <div class="form-group col-md-3 col-sm-3 col-xs-6">
                           <label class="col-md-12 col-form-label">كمية اعادة التعبئة</label>
                            <div class="col-md-12">
                                <input data-rules="float" [formControl]="formObject.controls['stock_order_amount']" name="stock_order_amount"
                                type="text" class="form-control" placeholder="كمية اعادة التعبئة" [ngClass]="{'errors': validateControl('stock_order_amount')}">
                                <div class="errors"></div>
                            </div>
                       </div>
                       <div class="form-group col-md-3 col-sm-3  col-xs-6">
                            <label class="col-md-12 col-form-label">التنبيه عند الوصول</label>
                            <div class="col-md-12 ">
                                <input data-rules="float" [formControl]="formObject.controls['limit_quantity']" name="limit_quantity"
                                type="text" class="form-control" placeholder="الكمية اللتى سيتم تنبيهك عندها" [ngClass]="{'errors': validateControl('limit_quantity')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-3  col-xs-6">
                            <label class="col-md-12 col-form-label">أقل كمية بيع</label>
                            <div class="col-md-12">
                                <input data-rules="float" [formControl]="formObject.controls['limit_sale_quantity']" name="limit_sale_quantity"
                                type="text" class="form-control" placeholder="أقل كمية بيع" [ngClass]="{'errors': validateControl('limit_sale_quantity')}">
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-12 col-md-12 form_paraphraph" *ngIf="formObject.controls.is_product.value">
                        <div class="form-group col-md-12">
                            <div class="col-md-12 col-md-12">
                                <br/>
                                <br/>
                                <div class="col-md-2 col-sm-3">
                                    <input type="checkbox" id="expirechbx" class="ios-toggle"
                                    [formControl]="formObject.controls['has_expire_date']"/>
                                    <label for="expirechbx" class="checkbox-label"></label>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <p class="h2">تفعيل صلاحية الصنف {{ formObject.controls.name.value }}</p>
                                    <p>اضافة صلاحية الانتهاء للصنف تمكنك من التنبيه فى حالة بيع أى صنف منتهى الصلاحية</p>
                                    <p>وأيضا يتم التنبيه لجميع الأصناف الأخرى وتتبع المنتحات اللتى عى وشك انتهاء مدة الصلاحية</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-12" *ngIf="formObject.controls.has_expire_date.value">
                        <label class="col-md-12 col-form-label">تاريخ الصلاحية</label>
                        <div class="col-md-12">
                            <input data-rules="date" [formControl]="formObject.controls['expire_date']" name="expire_date"
                                type="date" class="form-control" placeholder="تاريخ الصلاحية" [ngClass]="{'errors': validateControl('expire_date')}">
                            <div class="errors"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-12 col-md-12 form_paraphraph" *ngIf="formObject.controls.is_product.value === true">
                        <div class="form-group col-md-12">
                            <div class="col-md-12 col-md-12">
                                <br/>
                                <br/>
                                <div class="col-md-2 col-sm-3">
                                    <input type="checkbox" id="variatychbx" class="ios-toggle"
                                    [formControl]="formObject.controls['is_variaty']"/>
                                    <label for="variatychbx" class="checkbox-label"></label>
                                </div>
                                <div class="col-md-10 col-sm-9">
                                    <p class="h2">تفعيل تنوع الصنف {{ formObject.controls.name.value }}</p>
                                    <p>الصنف المتعدد هو الذى يمكن أن يتنوع فى اللون أو الحجم</p>
                                    <p>يمكنك اضافة الخيار الاول كاللون و اضافة قيم الخيار كالاخضر و الأصفر فى قيمة الخيار الأول</p>
                                    <p>يمكنك وضع سعر و كود أو باركود و مورد مختلف لكل نوع</p>
                                    <p>لابمكن ازالة أو اضافة التنوع بعد اتمام عملية الحفظ لانه سيؤثر على كثير من البيانات</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 first" *ngIf="formObject.controls.is_variaty.value && formObject.controls.is_product.value">
                       <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">الخيار مثال (اللون..)</label>
                            <div class="col-md-12 col-xs-12 no-p">
                                <select class="form-control" name="option_one" (change)="onSelectItem($event)" [formControl]="formObject.controls['option_one']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __optionsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">القيمة مثال (أخضر,برتقالى..)</label>
                            <div class="col-md-12 ">
                                <keys-cmp placeholder="أضف قيمة الخيار"
                                          dataRules="keywords"
                                          [max]="50"
                                          classes="form-control"
                                          name="option_one_value"
                                          [value]="formObject.controls['option_one_value']"
                                          (onChangeKey)="onchangeKeys($event)">
                                </keys-cmp>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">الخيار مثال (القياس..)</label>
                            <div class="col-md-12 col-xs-12 no-p">
                                <select class="form-control" name="option_two" (change)="onSelectItem($event)" [formControl]="formObject.controls['option_two']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __optionsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">القيمة مثال (120x360..)</label>
                            <div class="col-md-12 ">
                                <keys-cmp placeholder="أضف قيمة الخيار"
                                          dataRules="keywords"
                                          [max]="50"
                                          classes="form-control"
                                          name="option_two_value"
                                          [value]="formObject.controls['option_two_value']"
                                          (onChangeKey)="onchangeKeys($event)">
                                </keys-cmp>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">الخيار مثال (الجودة..)</label>
                            <div class="col-md-12 col-xs-12 no-p">
                                <select class="form-control" name="option_three" (change)="onSelectItem($event)"
                                [formControl]="formObject.controls['option_three']">
                                    <option value=""></option>
                                    <option value="__ADDONE__" name="__ADDONE__">أضف جديد</option>
                                    <option *ngFor="let option of __optionsArray"
                                        [value]="option.name" value="{{ option.name }}" >{{ option.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-md-6">
                            <label class="col-md-12 col-form-label">القيمة مثال (ممتاز,متوسط..)</label>
                            <div class="col-md-12 ">
                                <keys-cmp placeholder="أضف قيمة الخيار"
                                          dataRules="keywords"
                                          [max]="50"
                                          classes="form-control"
                                          name="option_three_value"
                                          [value]="formObject.controls['option_three_value']"
                                          (onChangeKey)="onchangeKeys($event)">
                                </keys-cmp>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 last" [ngClass]="{'first' : !formObject.controls.is_variaty.value }">
                        <div class="form-group col-md-12">
                            <label class="col-md-12 col-form-label">الوصف</label>
                            <div class="col-md-12 ">
                                <textarea data-rules="note,max100" [formControl]="formObject.controls['description']" name="description"
                                type="text" class="form-control textarea" placeholder="الوصف" [ngClass]="{'errors': validateControl('description')}"></textarea>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-12">
                        <a type="submit" class="btn btn-primary" style="width:100%;margin-bottom:10px;"
                        (click)="OnSubmitForm(formObject.value , formObject.valid , true)">حفظ البيانات</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
