<div class="col-md-12 padding-20 list">
    <div class="col-md-12 headtitle">
        <p>تأريخ الدخول و الخروج</p>
    </div>
    <div class="main_action clearfix">
        <p class="title">قائمة تضم حركة دخول و خروج المستخدمين لحساب الشركة</p>
        <p>...</p>
        <p class="title __expl" (click)="__explain = !__explain">اعرف أكثر <i class="fa fa-life-saver"></i></p>
    </div>
    <div class="col-md-12 padding-20 expl bounceInDown" *ngIf="__explain || __hideLists">
        <p>
            تتبع حركة دخول و خروج المستخدمين لحساب الشركة
        </p>
        <p><img src="/assets/img/expl/history.svg" width="100px" /></p>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 box noshadow">
        <div class="main_body">
            <div class="col-md-12 col-sm-12 col-xs-12 no-p above_table" [hidden]="__hideLists">
                <li class="active">
                    <a>تأريخ الدخول و الخروج</a>
                </li>
                <li class="opp" (click)="onTopActionClick({clicked:true,action:'EXPORTLIST'})"><a>تصدير القائمة <i class="fa fa-database"></i></a></li>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no-p table-rainbow top-rainbow" [hidden]="__hideLists">
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [xshidden]="true"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [smhidden]="true"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [smhidden]="true"></ranbow-colors>
            </div>
            <table class="table" [hidden]="__hideLists">
                <thead>
                    <tr>
                        <td width="40px"><input type="checkbox" class="parentcheckbox option-input checkbox"></td>
                        <td (click)="OnOrderBy('username')" [ngClass]="{'active' : __order === 'username'}">المستخدم</td>
                        <td>الصلاحية</td>
                        <td>الدخول</td>
                        <td>الخروج</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _list">
                        <td width="40px">
                            <span>
                                <input type="checkbox" class="{{ item.id }} list-item option-input checkbox">
                            </span>        
                        </td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.role }}</td>
                        <td>{{ item.login_at | date:'dd/MM/yyyy H:mm:ss' }}</td>
                        <td *ngIf="item.is_logout">{{ item.updatedAt | date:'dd/MM/yyyy H:mm:ss' }}</td>
                        <td *ngIf="!item.is_logout"><p class="unpaid"></p></td>
                        <td class="actions">
                            <dashboard-actions
                                [obj]="_actionsObjs" [item]="item" (onAction)="onAction($event)">
                            </dashboard-actions>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main_footer">
            <dashboard-footer 
                [pages]="__pages"
                [count]="__count" 
                [pageUrl]="_controller"
                [filterObj]="_filtersObjs"
                [searchObj]="_searchObjs"
                (pageChanging)="onPageChanging($event)"
                (onAction)="onTopActionClick($event)">
            </dashboard-footer>
        </div>
    </div>
</div>
<!--<show-item [showItemFields]="_showItemFields" [showItem]="_showItem" [isShowItem]="_isShowItem" (onShowItem)="onShowItem($event)"></show-item>-->

