<div class="col-md-12 padding-20">
    <div class="col-md-12 headtitle">
        <p>فواتير الشراء</p>
    </div>
    <div class="main_action clearfix">
        <p class="title">قائمة تضم فواتير الشراء  و الفواتير الأولية و المعادة الخاصة بالحساب</p>
        <p>...</p>
        <p class="title __expl" (click)="__explain = !__explain">اعرف أكثر <i class="fa fa-life-saver"></i></p>
        <addnew-item (onAddNewClick)="onAddNewClick($event)"></addnew-item>
    </div>
    <div class="col-md-12 padding-20 expl bounceInDown" *ngIf="__explain || __hideLists">
        <p>
            قائمة الفواتير تضم فواتير الشراء المؤجلة و الفورية اللتى تصدر من الحساب
        </p>
        <p><img src="/assets/img/expl/purchases.svg" width="100px" /></p>
        <p class="add" (click)="onAddNewClick({})">أضف فاتورة جديدة</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 box noshadow">
        <div class="main_body bounceInDown">
            <div class="col-md-12 col-sm-12 col-xs-12 no-p above_table" [hidden]="__hideLists">
                <li (click)="OnChangeStatus('COMPLETED')" [ngClass]="{'active' : __status === 'COMPLETED'}">
                    <a>الشراء</a>
                </li>
                <li (click)="OnChangeStatus('RETURNED')" [ngClass]="{'active' : __status === 'RETURNED'}">
                    <a>المعادة</a>
                </li>
                <li (click)="OnChangeStatus('PARKED')" [ngClass]="{'active' : __status === 'PARKED'}">
                    <a>المحفوظة</a>
                </li>
                <li (click)="OnChangeStatus('DRAFTED')" [ngClass]="{'active' : __status === 'DRAFTED'}">
                    <a>الملغية</a>
                </li>
                <li (click)="OnChangeStatus('ALL')" [ngClass]="{'active' : __status === 'ALL'}">
                    <a>الكل</a>
                </li>
                <li class="opp" (click)="onTopActionClick({clicked:true,action:'EXPORTLIST'})"><a>تصدير القائمة <i class="fa fa-database"></i></a></li>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no-p table-rainbow top-rainbow" [hidden]="__hideLists">
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [xshidden]="true"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [smhidden]="true"></ranbow-colors>
                <ranbow-colors [class]="'col-md-3 col-sm-6 col-xs-12'" [smhidden]="true"></ranbow-colors>
            </div>
            <table class="table" [hidden]="__hideLists">
                <thead>
                    <tr>
                        <!--<td width="40px"><input type="checkbox" class="parentcheckbox option-input checkbox"></td>-->
                        <td (click)="OnOrderBy('number')" [ngClass]="{'active' : __order === 'number'}">رقم</td>
                        <td (click)="OnOrderBy('date')" class="hidden-sm-down" [ngClass]="{'active' : __order === 'date'}">التاريخ</td>
                        <td (click)="OnOrderBy('supplier')" class="hidden-md-down" [ngClass]="{'active' : __order === 'supplier'}">المورد</td>
                        <td (click)="OnOrderBy('count')" class="hidden-md-down" [ngClass]="{'active' : __order === 'count'}">الطلبات</td>
                        <td (click)="OnOrderBy('prices')" class="hidden-md-down" [ngClass]="{'active' : __order === 'prices'}">السعر</td>
                        <td (click)="OnOrderBy('totals')" [ngClass]="{'active' : __order === 'totals'}">الاجمالى</td>
                        <td (click)="OnOrderBy('paid')" class="hidden-xs-down" [ngClass]="{'active' : __order === 'paid'}">المدفوع</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _list">
                        <!--<td width="40px">
                            <span>
                                <input type="checkbox" class="{{ item.id }} list-item option-input checkbox">
                            </span>
                        </td>-->
                        <td class="{{ item.status }}">{{ item.number }}<span class="shade">#{{ item.notebook_number }}</span></td>
                        <td class="hidden-sm-down">{{ item.date | date:'dd/MM/yyyy' }}</td>
                        <td class="hidden-md-down">{{ item.supplier || 'غير مذكور' }}</td>
                        <td class="hidden-md-down">{{ item.count }}</td>
                        <td class="hidden-md-down">{{ item.prices | myCurrency }}</td>
                        <td>{{ item.totals | myCurrency }}</td>
                        <td class="hidden-xs-down chart_line">
                            <p *ngIf="item.paid === 0" class="unpaid"></p>
                            <p *ngIf="item.paid >= item.totals" class="paid"></p>
                            <p *ngIf="item.paid > 0 && item.paid < item.totals" class="partially"></p>
                            <p>{{ item.paid | myCurrency }}</p>
                        </td>
                        <td class="actions">
                            <dashboard-actions
                                [obj]="_actionsObjs" [item]="item" (onAction)="onAction($event)">
                            </dashboard-actions>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <dashboard-footer
            [pages]="__pages"
            [count]="__count"
            [pageUrl]="_controller"
            [filterObj]="_filtersObjs"
            [searchObj]="_searchObjs"
            (pageChanging)="onPageChanging($event)"
            (onAction)="onTopActionClick($event)"
            >
        </dashboard-footer>
    </div>
</div>
<div class="fade modal" id="show-sale-details-modal" tabindex="1" role="dialog"
    aria-labelledby="mySaleDetailsModalLabel" aria-hidden="false">
    <div class="modal-dialog withpdding">
        <div class="modal-header">
            <button class="close" data-dismiss="modal"><span>x</span></button>
        </div>
        <div class="col-md-12 col-xs-12 col-md-12 col-xs-12 no-p PayDetails" *ngIf="_modal === 'payment' && __paymentItem">
            <div class="col-md-12 col-xs-12 no-p">
                <div class="col-md-12 col-xs-12 col-sm-12 pay-side">
                    <div class="col-md-12 col-xs-12">
                        <button class="_back_ btn float_exac" (click)="onCompletePaymentUpdate('COMPLETE')">حفظ البيانات</button>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <p class="_paystr_">ادفع</p>
                        <input type="text" [(ngModel)]="__payAmount" class="_paycontrol_" placeholder="المبلغ المدفوع"/>
                    </div>
                    <div class="col-md-12 col-xs-12 _paydebt_">
                        <a class="show_paid" (click)="__showPaymentList = !__showPaymentList"><i class="ti-money"></i></a>
                        <p>المدفوع {{ __paymentItem.paid | myCurrency }} من {{ __paymentItem.totals | myCurrency }}</p>
                    </div>
                    <div class="col-md-12 col-xs-12 _paysbtn_">
                        <div class="pay_way_item">
                            <img src="assets/img/expl/cash.svg" />
                            <button class="btn" (click)="onCompletePaymentUpdate('CASH')">دفع كاش</button>
                        </div>
                        <div class="pay_way_item">
                            <img src="assets/img/expl/credit-card.svg" />
                            <button class="btn" (click)="onCompletePaymentUpdate('CREDIT')">الدفع ببطاقة الائتمان</button>
                        </div>
                        <div class="pay_way_item">
                            <img src="assets/img/expl/cheque.svg" />
                            <button class="btn" (click)="onCompletePaymentUpdate('CHEQUE')">الدفع بالشيك</button>
                        </div>
                        <div class="pay_way_item">
                            <img src="assets/img/expl/banks.svg" />
                            <button class="btn" (click)="onCompletePaymentUpdate('CHOOSEBANK')">تحويل مصرفى</button>
                        </div>
                    </div>
                    <form (ngSubmit)="null" [hidden]="!__showBanksArray" class="form col-md-12 col-xs-12 no-p white" novalidate>
                        <fieldset>
                            <div class="col-xl-12 form_paraphraph">
                                <p class="title head">اختر المصرف الدافع للمبلغ</p>
                                <p>تحويل المبلغ من المصرف المحدد</p>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="col-md-12 col-xs-12 col-form-label">اسم المصرف</label>
                                    <div class="col-md-12 col-xs-12">
                                        <select class="form-control" [(ngModel)]="__chosenBankID" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let bank of __banksArray"
                                                    value="{{ bank.id }}">{{ bank.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12 no-p">
                                <button (click)="onCompletePaymentUpdate('BANK')" class="btn btn-primary"></button>
                            </div>
                        </fieldset>
                    </form>

                    <div class="col-md-12 col-xs-12 col-sm-12 no-p" [hidden]="!__showPaymentList">
                        <div class="show_box show_customer brdrer">
                           <div class="col-md-12 col-xs-12 no-p">
                               <div class="col-md-12 col-xs-12 no-p customer_body" *ngIf="__paymentItem.paid === 0 || !__paymentItem.payments || __paymentItem.payments.length === 0">
                                   <p class="customer-name center">لم يتم الدفع الى الأن</p>
                               </div>
                               <div class="col-md-12 col-xs-12 no-p customer_body" *ngIf="__paymentItem.paid > 0 && __paymentItem.payments && __paymentItem.payments.length > 0">
                                   <div class="col-md-12 col-xs-12 prices">
                                      <div class="col-md-11 col-xs-11 no-p">
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-4 no-p prices-title"><p>طريقة الدفع</p></div>
                                           </div>
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-4 no-p prices-title"><p>المبلغ</p></div>
                                           </div>
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-4 no-p prices-title"><p>التاريخ</p></div>
                                           </div>
                                      </div>
                                      <div class="col-md-1 col-xs-1 no-p"><p></p>
                                      </div>
                                   </div>
                                   <div class="col-md-12 col-xs-12 prices" *ngFor="let payment of __paymentItem.payments;let i = index">
                                       <div class="col-md-11 col-xs-11 no-p">
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-8 no-p prices-content"><p>{{ payment['by'] | paymentType }}</p></div>
                                           </div>
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-8 no-p prices-content"><p>{{ payment['paid'] | myCurrency }}</p></div>
                                           </div>
                                           <div class="col-md-12 col-xs-12 no-p item item-price">
                                               <div class="col-xs-8 no-p prices-content"><p>{{ payment['date'] | date:'dd/MM/yyyy H:mm' }}</p></div>
                                           </div>
                                       </div>
                                       <div class="col-md-1 col-xs-1">
                                           <a (click)="OnRemovePayment(i)" class="remove"><i class="ti-trash"></i></a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 no-p">
                        <button (click)="onCompletePaymentUpdate('COMPLETE')" class="btn btn-primary completebtn">حفظ البيانات</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
