<div class="col-md-12 padding-20 no-p">
    <div class="col-md-12 no-p">
        <div class="col-md-12 main_body white">
            <form [formGroup]="formObject" (ngSubmit)="OnSubmitForm(formObject.value , formObject.valid)" novalidate
                class="form col-md-12 no-p">
                <fieldset>
                    <div class="col-md-12 col-sm-12 col-xs-12 form_paraphraph">
                        <p class="title head">اضافة ضريبة جديد</p>
                    </div>
                    <div class="col-md-12 first" *ngIf="_global.getResource('branches').length > 1">
                        <div class="form-group col-md-12 col-sm-12">
                            <label class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-form-label">الفرع</label>
                            <div class="col-md-12 ">
                                <select class="form-control" name="branch_id" (change)="onSelectItem($event)" [formControl]="formObject.controls['branch_id']">
                                    <option *ngFor="let option of _global.getResource('branches')"
                                        [value]="option.id" value="{{ option.id }}" >{{ option.name }}</option>
                                </select>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" [ngClass]="{ 'first' : _global.getResource('branches').length === 1}">
                        <div class="form-group col-md-8 col-sm-6">
                            <label class="col-lg-12 col-form-label">اسم الضريبة</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,alph,max50" [formControl]="formObject.controls['name']" name="name" 
                                type="text" class="form-control autofocus" placeholder="اسم الضريبة" [ngClass]="{'errors': validateControl('name')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            <label class="col-lg-12 col-form-label">النسبة المئوية للضريبة</label>
                            <div class="col-md-12 ">
                                <input data-rules="req,float" [formControl]="formObject.controls['tax']" name="tax" 
                                type="text" class="form-control" placeholder="النسبة المئوية للضريبة : 20" [ngClass]="{'errors': validateControl('tax')}"/>
                                <div class="errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">حفظ البيانات</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>